src/main/webapp/schemas/UnitMeasure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://webservices.greypowerservices.org"
	targetNamespace="http://webservices.greypowerservices.org"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="UnitMeasure" type="UnitMeasure" />
	<xs:complexType name="UnitMeasure">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="abbreviation" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>